/* add font-family */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* root style */
html {
  margin: 0 auto;
  max-width: 1440px;
  height: 5887px;
  overflow-x: hidden;
  font-weight: normal;
  font-family: "Roboto", Georgia sans-serif;
  color: #212529;
  box-sizing: border-box;
}

  .body {
    margin: 0;
}

 /* header style */
.header {
  margin-top: 12px;
  max-width: 1376px;
  height: 108px;
  display: flex;
  justify-content: space-between;
}

.icon {
  margin-left: 32px;
  width: 70px;
  height: 74.38px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap:203px;
}
.nav {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.nav_text {
  margin: 0;
  font-size: 18px;
}

.nav_link {
  position: relative;
  text-decoration-line: none;
  color: black;
}

.nav_link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 1px; 
  background-color: black;
  transition: width 0.3s ease; 
}

.nav_link:hover::after {
  width: 100%; 
}

.nav_number {
  margin-top: 0;
  margin-right: 45px;
  margin-bottom: 85px;
}

/* main style */
.main {
  margin-top: 20px;
  max-width: 1376px;
}


/* hero style */
.hero {
  height: auto;
  margin: 40px 32px 0 32px; 
}
.hero_content {
  display: flex;
  justify-content: space-between;
  gap: 418.5px;
}

.hero_title {
  margin: 0;
  font-family: Helvetica;
  font-weight: 400;
  font-size: clamp(2rem, 1.242rem + 3.79vw, 4.5rem);;
  line-height: 120%;
  
}

.hero_link {
  position: relative;
  margin: 0;
  text-decoration-line: none;
  color: #212529;
  font-size: 18px;
  font-weight: 400;
}
.hero_link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 1px; 
  background-color: black;
  transition: width 0.3s ease-out, opacity 0.3s ease-out;
  width: 100%;
}

.hero_link:hover::after {
  width: 0; 
}
.hero_link:hover {
  opacity: 0.5;
}

.hero_sublink {
  margin: 0px;
  margin-top: 235px;
}

.hero_text {
  margin: 40px 0 0 0;
  font-size: 20px;
}

.hero_container {
  max-width: 100%;
  height: auto; /* или center, если хотите центрировать изображения */
}

.hero_img1 {
  max-width: 100%;
  height: auto;
}

.hero_img2 {
  max-width: 100%;
  height: auto;
  margin-left: 300px;
}

/* about style */
